
@{
	ViewData["Title"] = "Home";
}

<style>
	.yellow-header {
		background-color: yellow;
	}

	.green-header {
		background-color: greenyellow;
	}
</style>

<h2><span class="yellow-header">WPSv3 Test page</span></h2>
<h2><span class="green-header">Works properly</span></h2>



